# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Application generated log files.
log/

# Temporary directories to store the data pulls.
raw_data/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.bashrc
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
